body{
    background: #1E1E1E;
    

}
/* sidebar start */
.Rectangle1{
    position: absolute;
width: 333px;
height: 1075px;
left: 21px;
top: 19px;

background: #262626;
border-radius: 50px;
}
#img1{
    box-sizing: border-box;

position: absolute;
width: 222px;
height: 222px;
left: 76px;
top: 75px;

background: url(image);
border: 2px solid #333333;
border-radius: 1000px;
}
/* div content1 start */
.Rectangle2{
    box-sizing: border-box;

    position: absolute;
    width: 1323px;
    height: 588px;
    left: 374px;
    top: 19px;
    
    background: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

}
.heading_content1{
  
position: absolute;
width: 231px;
height: 36px;
left: 427px;
top: 75px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #FFFFFF;


}
.para-1{
    position: absolute;
width: 472px;
height: 430px;
left: 427px;
top: 146px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;

color: rgba(255, 255, 255, 0.5);


}
#img2{
    position: absolute;
width: 722px;
height: 430px;
left: 930px;
top: 146px;
border-radius: 20px;
}

/* Rectangle3 */
.Rectangle3{
    
box-sizing: border-box;

position: absolute;
width: 1323px;
height: 464px;
left: 371px;
top: 636px;

background: #262626;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
}
/* rectangle 6 */
.Rectangle6{
    /* box-sizing: border-box;

position: absolute; */
width: 1227px;
height: 331px;
left: 433px;
top: 734px;

border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 30px;
}

th,tr,td{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: rgba(255, 255, 255, 0.5);
}
.heading-2{
    /* position: absolute; */
width: 199px;
height: 43px;
left: 427px;
top: 673px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;
}